<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="text-align:center">
<div style="text-align:center">
    <img src="/static/1.png" alt="11" style="width:400px;text-align:center">
    <h1>欢迎{{username}}使用接口测试平台</h1>
    <h3>welcome to ApiTest</h3>
    <div style="border:1px solid black;width:200px;text-align:left;margin-left: -webkit-calc(50% - 100px);padding-left: 10px">
      <h2>如何使用</h2>
      1.打开左侧菜单<br>
      2.找到要用的功能<br>
      3.点击进入<br><br>
    </div>
    <h2></h2>
<br><br>
</div>


</body>
</html>